body
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

}
.social-icons {
  color: white
}
.text-white {
  color: white
}
.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.carousel-caption {
  color: white;
  top: 90px;
  left: 190px;
  font-family: 'Montserrat', sans-serif;
  font-size: 15rem;
  position: absolute;
}
*{
 height: 100vh;
 cursor: url("bee.png"), auto;
}
