body
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

}
.social-icons {
  color: white
}
.text-white {
  color: white
}
.navbar-brand {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
.important {
  color: white;
  position: absolute;
  top: 150px;
  left: 300px;
  font-family: 'Parisienne', cursive;
  font-size: 15rem;
}
.custom-cursor {
  cursor: src="css/bee.svg";
  width: 128px;
  height:128px;
}
div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(255,255,255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
ul {
  list-style: none;
  display: flex;
}
li #list {
  margin: 200px;
  transition: 0.6s ease;
}
